<!-- <nav>
    <h1>Global Stability Index</h1>
    <a routerLink="">home</a>&nbsp;
    <a routerLink="/country/1">country-details</a>&nbsp;
    <a routerLink="/error">error</a>&nbsp;
</nav> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <h1 class="navbar-brand" style="margin-bottom: 0px;">Global Stability Index</h1>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" routerLink="">home</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/country/1">country-details</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/error">error</a></li>
                </ul>
            </div>
    </div>
</nav>

<router-outlet></router-outlet>
